body {
    margin: 0;
    padding: 0;
    font-family: 'nombre de tu fuente', sans-serif;
}

.navbar {
    height: 70px;
    display: flex;
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
    padding: 10px;
    align-items: center;
    overflow: hidden;
}
.navbar-brand img {
  height: 20px;
  width: auto;
  object-fit: contain;
}

.btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #59CDE9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A2A88, #59CDE9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A2A88, #59CDE9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}